.container
  padding .5em
  border  4px solid #eee
  margin-bottom 1em
dl
  display flex
  flex-wrap wrap
  margin 0
  dt,
  dd
    padding .5em
  dd
    flex 1
  dt
    font-weight bold
    &::after
      content ':'

.is-jedi
  border 1px dashed #D30024
